# =========================================================
# JAVA / SPRING BOOT (API)
# =========================================================
api/target/
api/build/
api/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md

# =========================================================
# DOCKER & DATABASE (IMPORTANTE)
# =========================================================
# Ignorar los datos físicos de la base de datos para no subirlos al repo
medical_data/
postgres_data/
db/data/

# Variables de entorno y secretos
*.env
*.local
secrets.yml
.env

# =========================================================
# IDEs / TOOLS
# =========================================================
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================================================
# CONFIGURACIÓN ESPECÍFICA
# =========================================================
# Ignorar archivos de propiedades con credenciales reales
api/src/main/resources/application-*.properties
!api/src/main/resources/application.properties

TASK.txt

# Archivos de Log y Sistema
*.log
logs/
.DS_Store
Thumbs.db

# Cobertura de Código
coverage/
jacoco.exec
